body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(242, 241, 239, 1);
}


header {
  display: flex;
  position: relative;
  height: 5rem;
  font-size: 2rem;
  background: rgba(200, 247, 197, 1);
  width: 100vw;
  text-align: center;
}

header .title {
  margin: auto
}

header .settings {
  position: absolute;
  height: 3rem;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}

header .edit {
  position: absolute;
  height: 3rem;
  top: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
}

#sidebar {
  font-size: 1rem;
}

#sidebar .menu {
  position: absolute;
  width: 13rem;
  height: 100%;
  background: rgba(200, 247, 197, 1);
  border-right: #000000 1px solid;
  border-top: #000000 1px solid;
  transform: translateX(-100%);
  padding: 1rem;

}

#sidebar .menu.visible {
  transform: translateX(0);

  transition: transform 1s;
}

#sidebar .menu a{
  cursor: pointer;
  display: block;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}



#sidebar .menu b.new {
  padding: .4rem;
  cursor: pointer;
  background: white;
  margin: 1rem;
  border: 1px black solid;
  border-radius: 10px;
} 

.main {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 66rem;
  margin: auto;
}


.client-and-settings-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 30rem;
  border: 2px solid rgba(200, 247, 197, 1);
  border-radius: 10px;
}

.client-and-settings-container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 20rem;
  height: 1rem;
  font-size: 1rem;
  justify-items: end;
}

.client-and-settings-container div input, .client-and-settings-container div div {
  margin: 0.4rem;

}

.items .line{
  display: grid;
  grid-template-columns: 2rem 3rem 6rem 6rem 6fr 4rem 1fr;
  grid-gap: 1rem 1rem;
  margin: 1rem;

}

.items * {
  height: 1rem;
  font-size: 1.3rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 2rem;
}

.note-total {
  display: grid;
  justify-content: flex-end;
  margin-right: 3rem;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas:
    "note exvat exvatamnt"
    "note vat vatamnt"
    "note incvat incvatamnt"; */
  text-align: right;
  margin-top: 1rem;
  height: 15rem;
}

.total {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas:
    "note exvat exvatamnt"
    "note vat vatamnt"
    "note incvat incvatamnt"; */
  text-align: right;
  height: 15rem;
  align-content: start;	
  padding-top: 2rem;
}


.note-total *{
  margin: 0.7rem;
  font-size: 1.4rem;

}


.note-total .terms {
  justify-self: left;
  text-align: left;
  font-size: 1.2rem;
}

.note-total textarea {
  height: auto;
  font-size: 1.2rem;
  
}

.note div{
  height: auto;
}
.note textarea {
  height: auto;
  font-size: 1.2rem;

}
/* .exvat {
  grid-area: exvat;
  
}

.exvatamnt {
  grid-area: exvatamnt;
  text-align: left;
}

.incvat {
  grid-area: incvat;
}

.incvatamnt {
  grid-area: incvatamnt;
  text-align: left;
}

.vat {
  grid-area: vat;
}

.vatamnt {
  grid-area: vatamnt;
  text-align: left;
} */

.note {
  grid-area: note;
  text-align: left;
  margin: 2rem;
  font-size: 1rem;
}

.head {
  display: flex;
  flex-direction: row;
  height: 5rem;
  align-items: center;
}

.button{
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
  }
  .button:hover{
    border-color:#7a7a7a;
    cursor: pointer;
  }
  .button:active{
    background-color:#999999;
  }

  .button.save {
    margin-left: 1rem;
    height: 2rem;
    font-size: 1rem;
  } 

  .button.print {
    padding-right: .2rem;
    margin-right: 0;
  } 

  .button.template {
    position: relative;
    width: 1rem;
    margin: 0;
    padding-left: .2rem;
  }

  /* .button.template .dropdown {
    position: absolute;
    display: flex;
    height: 10rem;
    width: 10rem;
    background: #999999;
    left: 0.5rem;
    top: 0.2rem;

    transform: translateX(-50%)
  } */

  .button > img {
    height: 1.8rem;
  }
  
  ul {
    list-style: none;
    display: flex;
  }

  ul * {
    padding: 1rem;
  }

  ul > li {
    position: relative;
    background: darkgray;
    width: 5rem;
  }



  ul > li > ul {
    position: absolute;
    display: none;
    left: -1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul > li > ul > li{
    width: 10rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  li:hover{
    background: wheat;
    cursor: pointer;
  }

  #settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    padding-top: 2rem;
    max-width: 50rem;
  }

  #settings #items {
    display: grid;
    grid-template-columns: 1fr 2fr;

  }

  #settings #items div {
    text-align: right;
    margin: auto;
    margin-right: auto;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }

  #settings #items input {
    height: 1rem;
    margin: auto;
    margin-left: auto;
    margin-left: 0;
    width: 15rem;
  }

  #settings #items input[type='submit'] {
    height: 2rem;
    grid-column: span 2;
    margin: auto;
    width: 9rem;
  }

  #settings #items span {
    grid-column: span 2;
    margin: auto;
    color: red;
  }

  #settings #category div {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 10rem;
  }

#id {
  
}

.template-inner {
  font-size: 5px;
  background: #FAFBF2;
  margin: 0 auto;
  margin-top: 2em; 
  width: 84.1em;
  height: 118.9em;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}
.templates {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

.templates div {
  margin: 1rem;
} 

.templates img {
  height: 10rem;
  margin: 1rem;
  width: 100%;
  text-align: center;
}

.error {
  margin: auto;
  color: red;
  font-size: 1.1rem;
  font-family: serif;
  padding: 1rem;
}

